USE [FitnessClubDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Table: Users ******/
CREATE TABLE [dbo].[Users](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [FullName] [nvarchar](100) NOT NULL,
    [Email] [nvarchar](100) NOT NULL,
    [Login] [nvarchar](50) NOT NULL,
    [Password] [nvarchar](100) NOT NULL,
    [Role] [int] NOT NULL,
    [IsBlocked] [bit] NOT NULL,
    [Phone] [nvarchar](20) NULL,
    [Weight] [float] NOT NULL CONSTRAINT [DF_Users_Weight] DEFAULT ((0)),
    [Height] [float] NOT NULL CONSTRAINT [DF_Users_Height] DEFAULT ((0)),
    [Age] [int] NOT NULL CONSTRAINT [DF_Users_Age] DEFAULT ((0)),
    [Gender] [nvarchar](10) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
    [Id] ASC
)
)
GO

/****** Table: Subscriptions ******/
CREATE TABLE [dbo].[Subscriptions](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [Name] [nvarchar](100) NOT NULL,
    [Price] [decimal](18,2) NOT NULL,
    [Description] [nvarchar](1000) NULL,
    [ImagePath] [nvarchar](255) NULL,
    [Duration] [nvarchar](50) NULL,
    [SubscriptionType] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Subscriptions] PRIMARY KEY CLUSTERED 
(
    [Id] ASC
)
)
GO

/****** Table: UserSubscriptions ******/
CREATE TABLE [dbo].[UserSubscriptions](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [UserId] [int] NOT NULL,
    [SubscriptionId] [int] NOT NULL,
    [PurchaseDate] [datetime] NOT NULL,
    [ExpiryDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.UserSubscriptions] PRIMARY KEY CLUSTERED 
(
    [Id] ASC
)
)
GO

/****** Table: Reviews ******/
CREATE TABLE [dbo].[Reviews](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [UserName] [nvarchar](100) NOT NULL,
    [Score] [int] NOT NULL,
    [Comment] [nvarchar](1000) NULL,
    [SubscriptionId] [int] NOT NULL,
    [AdminReply] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Reviews] PRIMARY KEY CLUSTERED 
(
    [Id] ASC
)
)
GO

/****** Table: WorkoutPlans ******/
CREATE TABLE [dbo].[WorkoutPlans](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [ClientId] [int] NOT NULL,
    [CoachId] [int] NOT NULL,
    [Title] [nvarchar](100) NOT NULL,
    [Description] [nvarchar](500) NULL,
    [CreatedDate] [datetime] NOT NULL,
    [UpdatedDate] [datetime] NOT NULL,
    [StartDate] [datetime] NOT NULL,
    [EndDate] [datetime] NOT NULL,
    [IsCompleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.WorkoutPlans] PRIMARY KEY CLUSTERED 
(
    [Id] ASC
)
)
GO

/****** Table: NutritionPlans ******/
CREATE TABLE [dbo].[NutritionPlans](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [ClientId] [int] NOT NULL,
    [CoachId] [int] NOT NULL,
    [Title] [nvarchar](100) NOT NULL,
    [Description] [nvarchar](500) NULL,
    [CreatedDate] [datetime] NOT NULL,
    [UpdatedDate] [datetime] NOT NULL,
    [StartDate] [datetime] NOT NULL,
    [EndDate] [datetime] NOT NULL,
    [IsCompleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.NutritionPlans] PRIMARY KEY CLUSTERED 
(
    [Id] ASC
)
)
GO

/****** Table: CoachClients ******/
CREATE TABLE [dbo].[CoachClients](
    [CoachId] [int] NOT NULL,
    [ClientId] [int] NOT NULL,
    [AssignedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.CoachClients] PRIMARY KEY CLUSTERED 
(
    [CoachId] ASC,
    [ClientId] ASC
)
)
GO


/****** FOREIGN KEYS ******/

/* UserSubscriptions -> Users */
ALTER TABLE [dbo].[UserSubscriptions]
ADD CONSTRAINT [FK_UserSubscriptions_Users]
FOREIGN KEY([UserId]) REFERENCES [dbo].[Users]([Id])
GO

/* UserSubscriptions -> Subscriptions */
ALTER TABLE [dbo].[UserSubscriptions]
ADD CONSTRAINT [FK_UserSubscriptions_Subscriptions]
FOREIGN KEY([SubscriptionId]) REFERENCES [dbo].[Subscriptions]([Id])
GO

/* Reviews -> Subscriptions */
ALTER TABLE [dbo].[Reviews]
ADD CONSTRAINT [FK_Reviews_Subscriptions]
FOREIGN KEY([SubscriptionId]) REFERENCES [dbo].[Subscriptions]([Id])
GO

/* WorkoutPlans -> Users (Client) */
ALTER TABLE [dbo].[WorkoutPlans]
ADD CONSTRAINT [FK_WorkoutPlans_Users_Client]
FOREIGN KEY([ClientId]) REFERENCES [dbo].[Users]([Id])
GO

/* WorkoutPlans -> Users (Coach) */
ALTER TABLE [dbo].[WorkoutPlans]
ADD CONSTRAINT [FK_WorkoutPlans_Users_Coach]
FOREIGN KEY([CoachId]) REFERENCES [dbo].[Users]([Id])
GO

/* NutritionPlans -> Users (Client) */
ALTER TABLE [dbo].[NutritionPlans]
ADD CONSTRAINT [FK_NutritionPlans_Users_Client]
FOREIGN KEY([ClientId]) REFERENCES [dbo].[Users]([Id])
GO

/* NutritionPlans -> Users (Coach) */
ALTER TABLE [dbo].[NutritionPlans]
ADD CONSTRAINT [FK_NutritionPlans_Users_Coach]
FOREIGN KEY([CoachId]) REFERENCES [dbo].[Users]([Id])
GO

/* CoachClients -> Users (Coach) */
ALTER TABLE [dbo].[CoachClients]
ADD CONSTRAINT [FK_CoachClients_Users_Coach]
FOREIGN KEY([CoachId]) REFERENCES [dbo].[Users]([Id])
GO

/* CoachClients -> Users (Client) */
ALTER TABLE [dbo].[CoachClients]
ADD CONSTRAINT [FK_CoachClients_Users_Client]
FOREIGN KEY([ClientId]) REFERENCES [dbo].[Users]([Id])
GO